spring:
  application:
    name: SkillNest

  datasource:
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false

logging:
  level:
    org:
      springframework:
        security: INFO

jwt:
  secret: ${JWT_SECRET}
  valid-duration: 3600
  refreshabl-duration: 36000

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://skillnestedu.com:30081}

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}