spring:
  application:
    name: SkillNest

  datasource:
    url: ${DB_URL:jdbc:postgresql://ep-lingering-rain-a5qg05ag-pooler.us-east-2.aws.neon.tech/skill-nest?sslmode=require&channel_binding=require}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  flyway:
    enabled: true
    baseline-on-migrate: true

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true

logging:
  level:
    org:
      springframework:
        security: DEBUG

jwt:
  secret: ${JWT_SECRET}
  valid-duration: 3600
  refreshabl-duration: 36000

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://skillnestedu.com:30081,http://localhost:5173}

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}