apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: skillnest
spec:
  selector:
    app: backend
  ports:
    - port: 80
      name: http
      protocol: TCP
      targetPort: 8080
  type: ClusterIP