name: Build and push backend
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'

      - name: Run test
        run: mvn clean test

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Scanning
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          exit-code: 0
          severity: 'CRITICAL,HIGH'

      - name: Log in to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        if: github.event_name != 'pull_request'
        run: |
          SHORT_SHA=$(echo ${{github.sha}} | cut -c1-7)
          IMAGE_TAG=v1-${SHORT_SHA}
          echo "Building image with tag: $IMAGE_TAG"
          docker build -f Dockerfile -t thaodinh426/skillnest-be:$IMAGE_TAG .
          docker build -f Dockerfile -t thaodinh426/skillnest-be:latest .
          docker push thaodinh426/skillnest-be:$IMAGE_TAG
          docker push thaodinh426/skillnest-be:latest

