name: SkillNest action
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: skillnest/backend
  ECS_CLUSTER: skillnest-cluster
  ECS_SERVICE: skillnest-service
jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'

      - name: Maven test
        run: mvn test checkstyle:checkstyle

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
          SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
        run: |
          mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -Dsonar.projectKey=${{ env.SONAR_PROJECT_KEY }} \
            -Dsonar.organization=${{ env.SONAR_ORGANIZATION }} \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.junit.reportsPath=target/surefire-reports \
            -Dsonar.jacoco.reportsPath=target/jacoco.exec \
            -Dsonar.java.checkstyle.reportPaths=target/checkstyle-result.xml
            -Dsonar.coverage.exclusions="**/config/**/*.java

      - name: SonarQube quality gate check
        id: sonarqube-quality-gate-check
        uses: sonarsource/sonarqube-quality-gate-action@cf038b0e0cdecfa9e56c198bbb7d21d751d62c3b
        timeout-minutes: 5
        with:
          scanMetadataReportFile: target/sonar/report-task.txt
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
  build_and_deploy:
    name: Build, Scan & Deploy to ECS
    runs-on: ubuntu-latest
    needs: testing
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven (Skip Tests)
        run: mvn clean package -DskipTests

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          role-to-assume: arn:aws:iam::911893329503:role/skillnest-backend-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076

      - name: Generate Short SHA for Image Tag
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build Docker Image
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ steps.vars.outputs.sha_short }}
        run: |
          docker build -f Dockerfile -t $REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -t $REGISTRY/$ECR_REPOSITORY:latest .

      - name: Run Trivy Vulnerability Scanner on Image
        uses: aquasecurity/trivy-action@c1824fd6edce30d7ab345a9989de00bbd46ef284
        with:
          image-ref: '${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ steps.vars.outputs.sha_short }}'
          format: 'table'
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      - name: Push Image to ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ steps.vars.outputs.sha_short }}
        run: |
          docker push $REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $REGISTRY/$ECR_REPOSITORY:latest

      - name: Deploy to ECS Fargate
        run: |
          aws ecs update-service \
            --cluster ${{ env.ECS_CLUSTER }} \
            --service ${{ env.ECS_SERVICE }} \
            --force-new-deployment
#
#      - name: Log in to Docker Hub
#        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
#        with:
#          username: ${{ secrets.DOCKER_USERNAME }}
#          password: ${{ secrets.DOCKER_PASSWORD }}
#
#      - name: Build and Push Docker image
#        run: |
#          SHORT_SHA=$(echo ${{github.sha}} | cut -c1-7)
#          IMAGE_TAG=v1-${SHORT_SHA}
#          echo "Building image with tag: $IMAGE_TAG"
#          docker build -f Dockerfile -t thaodinh426/skillnest-be:$IMAGE_TAG -t thaodinh426/skillnest-be:latest .
#          docker push thaodinh426/skillnest-be:$IMAGE_TAG
#          docker push thaodinh426/skillnest-be:latest


#      - name: Build and Upload image to ECR
#        uses: appleboy/docker-ecr-action@28bd4062f91414d864fe770c772aca4c2ccfce0b
#        with:
#          access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          registry: ${{ secrets.REGISTRY }}
#          repo: ${{ env.ECR_REPOSITORY }}
#          region: ${{ env.AWS_REGION }}
#          tags: latest,${{ github.run_number }}
#          daemon_off: false
#          dockerfile: ./Dockerfile
#          context: ./
#  deploy_to_eks:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v4
#      - name: Configure AWS credentials
#        uses: aws-actions/configure-aws-credentials@v1
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: ${{ env.AWS_REGION }}
#      - name: Get KubeConfig file
#        run: aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.EKS_CLUSTER }}
#      - name: Create ECR secret
#        run: |
#          kubectl delete secret regcred --ignore-not-found
#           kubectl create secret docker-registry regcred \
#            --docker-server=${{ secrets.REGISTRY }} \
#            --docker-username=AWS \
#            --docker-password=$(aws ecr get-login-password)
#      - name: Deploy using Helm
#        run: |
#          helm upgrade --install backend ./helm/backend-charts \
#            --set image.repository=${{ secrets.REGISTRY }}/${{ env.ECR_REPOSITORY }} \
#            --set image.tag=${{ github.run_number }} \
#            --set env.DB_URL="${{ secrets.DB_URL }}" \
#            --set env.DB_USERNAME="${{ secrets.DB_USERNAME }}" \
#            --set env.DB_PASSWORD="${{ secrets.DB_PASSWORD }}"

